<h1 class="text-center"> <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-x-diamond-fill text-info" viewBox="0 0 16 16">
    <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L4.047 3.339 8 7.293l3.954-3.954L9.049.435zm3.61 3.611L8.708 8l3.954 3.954 2.904-2.905c.58-.58.58-1.519 0-2.098l-2.904-2.905zm-.706 8.614L8 8.708l-3.954 3.954 2.905 2.904c.58.58 1.519.58 2.098 0l2.905-2.904zm-8.614-.706L7.292 8 3.339 4.046.435 6.951c-.58.58-.58 1.519 0 2.098l2.904 2.905z"/>
  </svg></h1>
<h1 class="h3 fw-normal text-center">Log in</h1>
<div class="form-signin ">
  <%= form_with(scope: :session, url: login_path, class: " p-3 mb-5 rounded", local: true) do |f|%>
    <div class="form-floating">
      <% f.label :email,  class: "text-light" %>
      <div>
        <span>Email</span>
        <%= f.email_field :email, class: "form-control rounded", placeholder: "Digite seu email" %>
      </div>
    </div>
    <div class="form-floating">
      <% f.label :password,  class: "text-light" %>
      <div>
        <span>Senha</span>
        <%= f.password_field :password, class: "form-control rounded", placeholder: "Digite sua senha" %>
      </div>
    </div>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Lembrar-me
      </label>
    </div>
    <div class="form-group row justify-content-center">
      <%= f.submit "Fazer login", class: "w-75 btn btn-outline-dark"%>
    </div>
  <% end %>
</div>
