<h1 class="text-center mt-3">Lista de Artigos</h1>
<%= paginate @articles%>
<%= render 'article' %>
<% if @articles.length != 1 %>
  <%= paginate @articles%>
<% end %>
<a class="back-to-top text-danger" href="#">➤</a>
