<main class="flex-shrink-0" id="page-content" >
  <div class="container home-container text-center ">
    <div class="p-5 mb-4 bg-light rounded-3 jumb">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Alpha Blog</h1>
        <button class="btn btn-primary btn-lg btn-success mt-5" type="button">Inscrever-se!</button>
      </div>
    </div>
  </div>
</main>
<footer class="footer mt-auto bg-dark pt-3">
  <p class="text-center text-muted">&copy; 2021 Company, Inc</p>
</footer>
