<div class="container home-container text-center ">
  <div class="p-5 bg-light rounded-3 jumb mt-4">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold mt-5 text-white">Alpha Blog</h1>
      <%= link_to "Inscrever-se!", signup_path, class: "btn btn-primary btn-lg btn-success mt-5" %>
    </div>
  </div>
</div>
