<div class="container home-container text-center " id="page-content" >
  <div class="p-5 mb-4 bg-light rounded-3 jumb">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Alpha Blog</h1>
      <button class="btn btn-primary btn-lg btn-success mt-5" type="button">Inscrever-se!</button>
    </div>
  </div>
</div>
<footer class="py-0 my-0 mx-0 px-0 bg-dark">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
  </ul>
  <p class="text-center text-muted">&copy; 2021 Company, Inc</p>
</footer>
