@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: lightgray !important;
}

.navbar {
  background-color: #3c3c3c !important;
  height: 62px;
}

.nav-link {
  color: #f5f5f5 !important;
}

.navbar-brand {
  color: #f5f5f5 !important;
  font-size: 1rem !important;
  font-weight: 900 !important;
}

.home-container {
  margin-top: 25px !important;
}

.jumb {
  background-image: url("https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80") !important;
  background-repeat: no-repeat;
  background-size: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgray;
}

#body-nav {
  padding-top: 4.5rem;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: #ffffff;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: rotate(-90deg);
}

.carousel-item {
  height: 25rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 25rem;
  background-size: 100%;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel {
  margin-bottom: 4rem;
}
