@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: #3c3c3c !important;
}

.nav-link {
  color: #f5f5f5 !important;
}

.navbar-brand {
  color: #f5f5f5 !important;
  font-size: 1.5rem !important;
  font-weight: 900 !important;
}

.home-container {
  margin-top: 25px !important;
}

.jumb {
  background-image: url("https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80") !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgray;
}
