<footer class="footer mt-auto bg-dark pt-3">
  <p class="text-center text-muted">&copy; 2021 <%= link_to "Lucas dos Santos", "https://github.com/Lucas-dos-Santos", class: "text-center text-muted" %></p>
</footer>
